.App {
  text-align: center;
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 2.4rem;
}
.Form-column-reverse{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1 2.4rem;
}

.Add-Padding{
  padding: 0rem 2.4rem;

}

.Background-Button{
  background-color: burlywood;
}

div-scroll {
  overflow: scroll;
}
